.navbar-scrolling{
    visibility: hidden;
    opacity: 0%;
   
}
.navbar{
    position: fixed;
    width: 100%;
    z-index: 1;
    height: auto;
    transition: 0.5s;
    transition-timing-function: ease-out;
    
}
