<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink='/'>Finansys</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink='categories'>Categorias</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink='entries'>Entradas</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


  <router-outlet></router-outlet>

<footer class="page-footer font-small bg-primary text-light pt-4">
  <div class="container-fluid text-center text-md-left">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-4 mt-md-0 mt-3">
        <h5 class="text-uppercase">App de aprendizado angular</h5>
        <p>Aplicativo web desenvolvido como forma de estudo da ferramenta Angular.</p>

      </div>
      <div class="col-md-3 mb-md-0 mb-3">
        <h5 class="text-uppercase">Visite:</h5>
        <ul class="list-unstyled">
          <li>
            <a class='link-dark' href="https://angular.io/">Site oficial do Angular</a>
          </li>
          <li>
            <a class='link-dark' href="https://github.com/alvaropms/app-aprendizado-angular">Github deste projeto</a>
          </li>
        </ul>

      </div>
      <div class="col-md-3">
        <img src="assets/angular.png"  style="max-height: 200px;" alt="angular">
      </div>
      <div class="col-md-1"></div>
    </div>

  </div>
  <div class="footer-copyright text-center py-3 bg-primary">Criador:
    <a class='link-dark' href="https://github.com/alvaropms">alvaropms</a>
  </div>
</footer>

