<h2 class="d-flex justify-content-center mt-4 fw-bold">
    Bem vindo ao meu site
</h2>

<div class="container">
    <div class="row ">
        <div class="fs-3 mt-4">
            Sobre a aplicação
        </div>
        <p class="fs-5">
            Apparently we had reached a great height in the atmosphere, for the sky was a dead black, and the stars had ceased to twinkle. By the same illusion which lifts the horizon of the sea to the level of the spectator on a hillside, the sable cloud beneath was dished out, and the car seemed to float in the middle of an immense dark sphere, whose upper half was strewn with silver. Looking down into the dark gulf below, I could see a ruddy light streaming through a rift in the clouds.
        </p>
        <img src="assets/categories.PNG" alt="categories">
        <p class="fs-5">
            Apparently we had reached a great height in the atmosphere, for the sky was a dead black, and the stars had ceased to twinkle. By the same illusion which lifts the horizon of the sea to the level of the spectator on a hillside, the sable cloud beneath was dished out, and the car seemed to float in the middle of an immense dark sphere, whose upper half was strewn with silver. Looking down into the dark gulf below, I could see a ruddy light streaming through a rift in the clouds.
        </p>
        <img src="assets/formcategories.PNG" alt="formcategories">
    </div>

    <div class="row ">
        <div class="fs-3 mt-4">
            Sobre o que foi aprendido
        </div>
        <p class="fs-5">
            Apparently we had reached a great height in the atmosphere, for the sky was a dead black, and the stars had ceased to twinkle. By the same illusion which lifts the horizon of the sea to the level of the spectator on a hillside, the sable cloud beneath was dished out, and the car seemed to float in the middle of an immense dark sphere, whose upper half was strewn with silver. Looking down into the dark gulf below, I could see a ruddy light streaming through a rift in the clouds.
        </p>
        <img class="img" src="assets/angular.png" alt="categories">
    </div>
</div>
