
<div class="page">
    <div class="img d-flex justify-content-center align-items-center">
        <h1 >Página de Categorias</h1>
    </div>
    <div class="container mt-5 mb-5 d-flex justify-content-center align-items-center flex-column">
        <div class="row">
            <div class=" col-md-6 col-sm-12 d-flex flex-column justify-content-center align-items-center">
                Crie, edite e exclua categorias que poderão ser usadas
                no futuro para cadastrar entradas. Cada categoria possui
                um nome e uma descrição. <br>
                Tudo é salvo localmente e possui alguns cadastros padrões,
                por isso, ao reiniciar o site todas operações serão 
                revertidas.

                <a routerLink='/categories' type="button" class="btn btn-success">Página de categorias</a>
                
            </div>
            <div class=" col-md-6 col-sm-12 d-flex flex-column justify-content-center align-items-center">
                <img src="assets/categories.PNG" alt="page">
            </div>
        </div>
    </div>
    
    
    
    <div class="img  d-flex justify-content-center align-items-center">
        <h1 >Página de Entradas</h1>
    </div>
    <div class="container mt-5 mb-5 d-flex justify-content-center align-items-center flex-column">
        <div class="row d-flex flex-row">
            <div class="order-last order-md-first col-md-6 col-sm-12 d-flex flex-column justify-content-center align-items-center">
                <img src="assets/entries.png" alt="page">
            </div>
            <div class="order-first order-md-last col-md-6 col-sm-12 d-flex flex-column justify-content-center align-items-center">
                Crie, edite e exclua entradas. Cada entrada pertence
                a uma categoria e possui nome e descrição.
                Se você excluir uma categoria, as entradas pertencentes
                a ela não serão excluídas e mostrarão que a categoria é inválida.
                <a routerLink='/entries' type="button" class="btn btn-success">Página de entradas</a>
            </div>
        </div>
    </div>
    
</div>